# requirements.txt

# List of required Python packages for your project
# Each package should be listed on a separate line

# PyTorch: A popular deep learning library
torch
torchvision

pandas
imageio
scikit-learn
